
$zindex-offcanvas-backdrop: 900;
$offcanvas-backdrop-bg: rgba(0, 0, 0, .25);

$offcanvas-zindex: 910;
$offcanvas-background: $white;
$offcanvas-header-padding: $spacer;
$offcanvas-inner-padding: $spacer;
$offcanvas-footer-padding: $spacer;
$offcanvas-header-border-width: 1px;
$offcanvas-header-border-color: gray('300');

$offcanvas-footer-border-width: 1px;
$offcanvas-footer-border-color: gray('300');

$offcanvas-container-border-width: 1px;
$offcanvas-container-border-color: gray('300');

$offcanvas-sm: 310px; // almost full width
$offcanvas-md: 250px; // should be around 20 - 30%
$offcanvas-lg: 320px;

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-offcanvas-backdrop;
  background-color: $offcanvas-backdrop-bg;
  will-change: opacity;

  &.fadeout {
    transition: opacity .45s linear;
    opacity: 0;
  }
}

.offcanvas-aside-left {
  transition: margin-left 1ms ease-in-out;
  will-change: margin-left;

  &.show {
    margin-left: $offcanvas-sm;
    width: calc(100% - #{$offcanvas-sm});
  }
}

.offcanvas-aside-right {
  transition: margin-right 1ms ease-in-out;
  will-change: margin-right;

  &.show {
    margin-right: $offcanvas-sm;
    width: calc(100% - #{$offcanvas-sm});
  }
}

.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  visibility: hidden;
  z-index: $offcanvas-zindex;
  border-right: $offcanvas-container-border-width solid $offcanvas-container-border-color;
  background-color: $offcanvas-background;
  width: $offcanvas-sm;
  height: 100%;
  will-change: transform;

  &.offcanvas-left {
    left: 0;
    transform: translate3d(#{-$offcanvas-sm}, 0, 0);
  }

  &.offcanvas-right {
    right: 0;
    transform: translate3d(#{$offcanvas-sm}, 0, 0);
  }

  &.animate {
    transition: transform 300ms ease-in-out;
    visibility: visible;
  }

  &.show {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  &.hide {
    visibility: visible;
  }

  .offcanvas-inner {
    position: relative;
    height: 100%;
    pointer-events: none;

    .offcanvas-content {
      display: flex;
      position: relative;
      flex-direction: column;
      background-clip: padding-box;
      outline: 0;

      pointer-events: auto;

      height: 100%;

      .offcanvas-header {
        display: flex;
        align-items: flex-start; // so the close btn always stays on the upper right corner
        justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
        padding: $offcanvas-header-padding;
        border-bottom: $offcanvas-header-border-width solid $offcanvas-header-border-color;

        .offcanvas-title {
          margin-bottom: 0;
        }
      }

      .offcanvas-body {
        position: relative;
        flex: 1 1 auto;
        overflow-y: auto;
        padding: $offcanvas-inner-padding;
      }

      // footer
      .offcanvas-footer {
        display: flex;
        align-items: center; // vertically center
        justify-content: flex-start; // left align items
        padding: $offcanvas-footer-padding;
        border-top: $offcanvas-footer-border-width solid $offcanvas-footer-border-color;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .offcanvas {
    transform: translate3d(#{-$offcanvas-md}, 0, 0);
    width: $offcanvas-md;
  }

  .offcanvas-aside-left {
    &.show {
      margin-left: $offcanvas-md;
      width: calc(100% - #{$offcanvas-md});
    }
  }

  .offcanvas-aside-right {
    &.show {
      margin-right: $offcanvas-md;
      width: calc(100% - #{$offcanvas-md});
    }
  }
}

@include media-breakpoint-up(lg) {
  .offcanvas {
    transform: translate3d(#{-$offcanvas-lg}, 0, 0);
    width: $offcanvas-lg;
  }

  .offcanvas-aside-left {
    &.show {
      margin-left: $offcanvas-lg;
      width: calc(100% - #{$offcanvas-lg});
    }
  }

  .offcanvas-aside-right {
    &.show {
      margin-left: $offcanvas-lg;
      width: calc(100% - #{$offcanvas-lg});
    }
  }
}
