$selectbox-width: auto;
$selectbox-min-width: 220px;
$selectbox-line-height: $input-line-height;
$selectbox-line-height-sm: $input-line-height-sm;
$selectbox-line-height-lg: $input-line-height-lg;

$selectbox-padding-y: $input-padding-y;
$selectbox-padding-x: $input-padding-x;

$selectbox-padding-y-sm: $input-padding-y-sm;
$selectbox-padding-x-sm: $input-padding-x-sm;

$selectbox-padding-y-lg: $input-padding-y-lg;
$selectbox-padding-x-lg: $input-padding-x-lg;

$selectbox-border-radius: $btn-border-radius;
$selectbox-border-color: gray('500');
$selectbox-hover-border-color: $primary;
$selectbox-border-weight: 1px;
$selectbox-border-transition-duration: 300ms;

$selectbox-background: #f9f9f9;

$selectbox-default-text-color: #555;

// selectbox menu
$selectbox-menu-max-height: 44px * 4;
$selectbox-menu-border-radius: $dropdown-border-radius;
$selectbox-menu-border-color: $dropdown-border-color;
$selectbox-menu-hover-border-color: $selectbox-hover-border-color;
$selectbox-menu-border-weight: $selectbox-border-weight;
$selectbox-menu-border-transition-duration: $selectbox-border-transition-duration;

$selectbox-menu-background: $white;

// selectbox menu item
$selectbox-menu-item-border-weight: 1px;
$selectbox-menu-item-border-color: gray('300');
$selectbox-menu-item-color: gray('700');
$selectbox-menu-item-background: $selectbox-menu-background;
$selectbox-menu-item-hover-color: inherit;
$selectbox-menu-item-hover-background: gray('100');
$selectbox-menu-item-selected-color: $white;
$selectbox-menu-item-selected-background: $primary;
$selectbox-menu-item-line-height: $input-line-height;

// selectbox menu header
$selectbox-menu-header-color: gray('700');

// selectbox menu divider
$selectbox-menu-divider-border-color: gray('200');
$selectbox-menu-divider-border-weight: 1px;

$selectbox-menu-description-color: gray('600');

.selectbox {
  display: inline-block;
  position: relative;
  transform: rotateZ(0deg);
  transition: border-color $selectbox-border-transition-duration ease-in-out;
  outline: none;
  border: $selectbox-border-weight solid $selectbox-border-color;

  @if $enable-rounded {
    border-radius: $selectbox-border-radius;
  }

  border-color: $selectbox-border-color;
  background-color: $selectbox-background;
  cursor: pointer;

  padding: $selectbox-padding-y $selectbox-padding-x;
  width: $selectbox-width;
  min-width: $selectbox-min-width;

  vertical-align: middle;
  line-height: $selectbox-line-height;

  white-space: normal;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.selectbox-sm {
    padding: $selectbox-padding-y-sm $selectbox-padding-x-sm;
    line-height: $selectbox-line-height-sm;
  }

  &.selectbox-lg {
    padding: $selectbox-padding-y-lg $selectbox-padding-x-lg;
    line-height: $selectbox-line-height-lg;
  }

  &.active {
    height: auto;
    z-index: 10;

    .selectbox-icon {
      transform: rotate(180deg);
    }

    .selectbox-menu {
      display: block;
      border-top: 0;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  // hidden input
  select {
    display: none;
  }

  &:hover {
    border-color: $selectbox-hover-border-color;

    .selectbox-menu {
      border-color: $selectbox-menu-hover-border-color;
    }
  }

  &:focus {
    box-shadow: $btn-focus-box-shadow;
  }

  // default text
  .default-text {
    color: $selectbox-default-text-color;
  }

  .selectbox-menu {
    display: none;
    position: absolute;
    width: calc(100% + 2px);
    top: 100%;
    left: 0;
    transition: border-color $selectbox-menu-border-transition-duration ease-in-out;
    z-index: 11;
    margin: 0 -1px 0 -1px;
    outline: none;
    border: $selectbox-menu-border-weight solid $selectbox-menu-border-color;

    @if $enable-rounded {
      border-radius: 0 0 $selectbox-border-radius $selectbox-border-radius;
    }

    background-color: $selectbox-menu-background;
    cursor: auto;
    padding: 0;
    // min-width: max-content;
    max-height: $selectbox-menu-max-height;

    font-size: $font-size-base;
    will-change: transform;

    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;

    -webkit-overflow-scrolling: touch;

    > * {
      white-space: nowrap;
    }

    .input-search-container {
      margin: ($spacer / 2) $spacer;
    }

    // menu item
    .item {
      display: block;
      position: relative;
      background-color: $selectbox-menu-item-background;
      cursor: pointer;
      height: auto;
      line-height: $selectbox-menu-item-line-height;
      color: $selectbox-menu-item-color;

      padding: $selectbox-padding-y $selectbox-padding-x;

      font-size: $font-size-base;

      transition: background-color $selectbox-border-transition-duration ease-in-out,
      color $selectbox-border-transition-duration ease-in-out;

      -webkit-touch-callout: none;

      border-top: $selectbox-menu-item-border-weight solid $selectbox-menu-item-border-color;
      white-space: normal;
      word-wrap: normal;

      &:hover {
        z-index: 13;
        background-color: $selectbox-menu-item-hover-background;
        color: $selectbox-menu-item-hover-color;
      }

      &.selected {
        background-color: $selectbox-menu-item-selected-background;
        color: $selectbox-menu-item-selected-color;

        // keep same style
        &:hover {
          background-color: $selectbox-menu-item-selected-background;
          color: $selectbox-menu-item-selected-color;
        }

        .description {
          color: $selectbox-menu-item-selected-color;
        }
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: .45;
      }
    }
  }

  // icon
  .selectbox-icon {
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #000 transparent transparent transparent;

    top: calc(50% - 4px);
    right: 1em;

    transition: transform 300ms ease-in-out;

    z-index: 3;
    cursor: pointer;
    text-align: center;

    backface-visibility: hidden;
  }

  // menu header
  .header {
    margin: 1rem 0rem 0.75rem 0rem;
    padding: 0em $selectbox-padding-x;
    text-transform: uppercase;
    color: $selectbox-menu-header-color;
    font-size: $font-size-sm;
    font-weight: bold;
  }

  // menu divider
  .divider {
    margin: .5em 0;
    border-top: $selectbox-menu-divider-border-weight solid $selectbox-menu-divider-border-color;
    height: 0;
  }

  // menu item text
  .text {
    display: inline-block;
  }

  // menu item description
  .description {
    float: right;
    color: $selectbox-menu-description-color;
    font-size: $font-size-sm;
    margin-top: 2px;
  }
}
