//
// Phonon overrides for Bootstrap
//

$blue:    #3271d1 !default;
$indigo:  #6610f2 !default;
$purple:  #9b59b6 !default;
$pink:    #ff9ff3 !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #feca57 !default;
$green:   #2ecc71 !default;
$teal:    #1abc9c !default;
$cyan:    #0abde3 !default;

$enable-rounded:            false !default;
$code-color: $blue !default;

// Phonon variables
$zindex-navbar-collapse:                   990 !default;
